<div class="card hover-effect">
  <button class="edit-card" data-id="{{id}}">
    <div class="card-top">
      <h2>{{title}}</h2>
    </div>
    <div class="card-bottom">
      <p class="card-content">{{content}}</p>
    </div>
  </button>
  <button class="account-btn hover-effect delete-card">DELETE</button>
</div>
