<div class="login-container">
  <form class="forms" id="login">
    <div class="imgcontainer">
      <h3>Login</h3>
    </div>

    <div class="form-container">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        required
      />
      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        required
      />
      <p class="warn-login" id="login-warning">Login failed, please try again</p>
      <button class="btn formbtn hover-effect" type="submit">Login</button>
    </div>
  </form>
  <form class="forms" id="sign-up">
    <div class="imgcontainer">
      <h3>Sign Up</h3>
    </div>

    <div class="form-container">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        required
      />
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" required />
      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        required
      />
      <p class="warn-login" id="sign-up-warning">Sign Up failed, please try again</p>

      <button class="btn formbtn hover-effect" type="submit">Sign Up</button>
    </div>
  </form>
</div>

<script src="/Public/js/login.js"></script>
